<!DOCTYPE html>
<html lang="en">
    <%- include('../components/head')%>
<body>
      <div class="grid-container">
        <!-- Header -->
        <%- include('../components/header') %>
        <!-- End Header -->
        <!-- Sidebar -->
        <%- include('../components/sidebar') %>
        <!-- End Sidebar -->
              <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">Panel administrativo de Modelo</p>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Productos</p>
              <span class="material-icons-outlined text-blue">inventory_2</span>
            </div>
            <span class="text-primary font-weight-bold">249</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Ordenes de compra</p>
              <span class="material-icons-outlined text-orange">add_shopping_cart</span>
            </div>
            <span class="text-primary font-weight-bold">83</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Ordenes de venta</p>
              <span class="material-icons-outlined text-green">shopping_cart</span>
            </div>
            <span class="text-primary font-weight-bold">79</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">INVENTORY ALERTS</p>
              <span class="material-icons-outlined text-red">notification_important</span>
            </div>
            <span class="text-primary font-weight-bold">56</span>
          </div>
        </div>

      <div class="cards form-container">
        <label for="">Año</label>
        <select class="form-select form-select-sm form-control" aria-label=".form-select-sm example">
          <% anios.forEach((anio) => { %>
              <option value="<%= anio.year %>"><%= anio.year %></option>
            <% }) %>
        </select>

        <label for="">Marca</label>
        <select class="form-select form-select-sm form-control" aria-label=".form-select-sm example">
          
          <% marcas.forEach((marc) => { %>
              
              <option value="<%= marc.marca %>"><%= marc.marca %></option>
            <% }) %>
        </select>

        <label for="inputPassword5" class="form-label">Modelo</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">

        <div class="d-grid gap-2">
          <a href="" class="btn btn-dark agregar" type="submit">Agregar</a>
          <button class="btn btn-dark" type="button">Editar</button>
          <button class="btn btn-dark" type="button">Eliminar</button>
        </div>
      </div>

      <div class="cards">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Modelo</th>
              <th scope="col">Año</th>
              <th scope="col">Marca</th>
            </tr>
          </thead>
          <tbody>
            <% modelos.forEach(modelo => { %>
              <tr>
                <td><%= modelo.modelo %></td>
                <td><%= modelo.YearYear%></td>
                <td><%= modelo.MarcaMarca%></td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  <!-- Scripts -->
  <script defer>
    const [ anio, mar, mol] = document.querySelectorAll('.form-control');
    document.querySelector('.form-container').addEventListener('input', e => {
      if (e.target.className === 'form-control') {
        console.log(e.target.value);
        document.querySelectorAll('.btn')[0].href = `https://apidigilist-production.up.railway.app/digilist/web-registro-modelo?YearYear=${anio.value}&MarcaMarca=${mar.value}&modelo=${mol.value}`
        console.log(document.querySelectorAll('.btn')).href;
      }
    });

  </script>
  <!-- ApexCharts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
  <!-- Custom JS -->
  <script src="../../public/js/sidebar.js"></script>
</body>

</html>