<!DOCTYPE html>
<html lang="en">
    <%- include('../components/head')%>
<body>
      <div class="grid-container">
        <!-- Header -->
        <%- include('../components/header') %>
        <!-- End Header -->
        <!-- Sidebar -->
        <%- include('../components/sidebar') %>
        <!-- End Sidebar -->
              <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <p class="font-weight-bold">Panel administrativo de Productos</p>
        </div>

        <div class="main-cards">

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">El campo codigo entrada es requerido [Las 4 primeras letras del producto + las 2 primeras letras de marca + los cuatro numeros del año + el modelo]</p>
            </div>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">El campo autoparte entrada es requerido [Las 4 primeras letras del producto + las 2 primeras letras de marca + los cuatro numeros del año + el modelo]</p>
            </div>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">Ordenes de venta</p>
              <span class="material-icons-outlined text-green">shopping_cart</span>
            </div>
            <span class="text-primary font-weight-bold">79</span>
          </div>

          <div class="card">
            <div class="card-inner">
              <p class="text-primary">INVENTORY ALERTS</p>
              <span class="material-icons-outlined text-red">notification_important</span>
            </div>
            <span class="text-primary font-weight-bold">56</span>
          </div>
        </div>

      <div class="cards form-container">
        <label for="inputPassword5" class="form-label">Nombre autoparte</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Descripcion</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Stock</label>
        <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Precio</label>
        <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Codigo autoparte</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Descuento</label>
        <input type="number" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>
        <label for="inputPassword5" class="form-label">Codigo Entrada</label>
        <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
        </div>

        <div class="d-grid gap-2">
          <a href="" class="btn btn-dark agregar" type="submit">Agregar</a>
          <button class="btn btn-dark" type="button">Editar</button>
          <button class="btn btn-dark" type="button">Eliminar</button>
        </div>
      </div>

      <div class="cards">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre autoparte</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Stock</th>
              <th scope="col">Precio</th>
              <th scope="col">Codigo autoparte</th>
              <th scope="col">Descuento</th>
              <th scope="col">Codigo Entrada</th>
            </tr>
          </thead>
          <tbody>
            <% autopartes.forEach(autoparte=> { %>
            <tr>
              <td><%=autoparte.nombreAutoparte%></td>
              <td><%=autoparte.descripcion%></td>
              <td><%=autoparte.stock%></td>
              <td><%=autoparte.precio%></td>
              <td><%=autoparte.code_autoparte%></td>
              <td><%=autoparte.descuento%></td>
              <td><%=autoparte.codigoEntrada%></td>
            </tr>    
          <% }) %>

          </tbody>
        </table>
      </div>
    </main>
  </div>
  <!-- Scripts -->
  <script defer>
    const [nom, des, stk, prec, codeA, desc, codeE] = document.querySelectorAll('.form-control');
    document.querySelector('.form-container').addEventListener('input', e => {
      if (e.target.className === 'form-control') {
          
        document.querySelectorAll('.btn')[0].href = `http://apidigilist-production.up.railway.app/digilist/web-registro-productos?nombreAutoparte=${nom.value}&descripcion=${des.value}&stock=${stk.value}&precio=${prec.value}&code_autoparte=${codeA.value}&descuento=${desc.value}&EntradaCodeEntrada=${codeE.value}`
      }
    });
  </script>
  <!-- ApexCharts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
  <!-- Custom JS -->
  <script src="../../public/js/sidebar.js"></script>
</body>

</html>