<!DOCTYPE html>
<html lang="en">
<%- include('../components/head')%>

  <body>
    <div class="grid-container">
      <!-- Header -->
      <%- include('../components/header') %>
        <!-- End Header -->
        <!-- Sidebar -->
        <%- include('../components/sidebar') %>
          <!-- End Sidebar -->
          <!-- Main -->
          <main class="main-container">
            <div class="main-title">
              <p class="font-weight-bold">Panel administrativo de Proveedor</p>
            </div>

            <div class="main-cards">

              <div class="card">
                <div class="card-inner">
                  <p class="text-primary">Productos</p>
                  <span class="material-icons-outlined text-blue">inventory_2</span>
                </div>
                <span class="text-primary font-weight-bold">249</span>
              </div>
           
            </div>

            <div class="cards form-container">
              <label for="inputPassword5" class="form-label">Proveedor</label>
              <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Direccion</label>
              <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">RFC</label>
              <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Telefono</label>
              <input type="tel" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Email</label>
              <input type="email" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>

              <div class="d-grid gap-2">
                <a href="" class="btn btn-dark agregar" type="submit">Agregar</a>
              </div>
            </div>

            <div class="cards">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">RFC</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    
                  </tr>
                </thead> 
                <tbody>
                  <% proveedores.forEach(proveedor =>  { %>
                    <tr>
                      <td><%= proveedor.nombreProveedor %></td>
                      <td><%= proveedor.direccionProveedor%></td>
                      <td><%= proveedor.RfcProveedor%></td>
                      <td><%= proveedor.telefonoProveedor%></td>
                      <td><%= proveedor.emailProveedor%></td>  
                      <td><a href="https://digilist.fly.dev/digilist/web-eliminar-proveedor?RfcProveedor=<%=proveedor.RfcProveedor %>"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </main>
    </div>
    <!-- Scripts -->
    <script defer>
      const [prov, dir, rfc, tel, email] = document.querySelectorAll('.form-control');
      document.querySelector('.form-container').addEventListener('input', e => {
        if (e.target.className === 'form-control') {
          
          document.querySelectorAll('.btn')[0].href = `https://digilist.fly.dev/digilist/web-registro-proveedor?nombreProveedor=${prov.value}&direccionProveedor=${dir.value}&RfcProveedor=${rfc.value}&telefonoProveedor=${tel.value}&emailProveedor=${email.value}`
        }
      });
    </script>
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="../../public/js/sidebar.js"></script>
  </body>

</html>