<!DOCTYPE html>
<html lang="en">
<%- include('../components/head')%>

  <body>
    <div class="grid-container">
      <!-- Header -->
      <%- include('../components/header') %>
        <!-- End Header -->
        <!-- Sidebar -->
        <%- include('../components/sidebar') %>
          <!-- End Sidebar -->


          <!-- MAIN -->
          <main class="main-container">
            <div class="main-title">
              <p class="font-weight-bold">Panel administrativo de Administrador</p>
            </div>

            <div class="main-cards">

              <div class="card">
                <div class="card-inner">
                  <p class="text-primary">Productos</p>
                  <span class="material-icons-outlined text-blue">inventory_2</span>
                </div>
                <span class="text-primary font-weight-bold">249</span>
              </div>

              <div class="card">
                <div class="card-inner">
                  <p class="text-primary">Ordenes de compra</p>
                  <span class="material-icons-outlined text-orange">add_shopping_cart</span>
                </div>
                <span class="text-primary font-weight-bold">83</span>
              </div>

              <div class="card">
                <div class="card-inner">
                  <p class="text-primary">Ordenes de venta</p>
                  <span class="material-icons-outlined text-green">shopping_cart</span>
                </div>
                <span class="text-primary font-weight-bold">79</span>
              </div>

              <div class="card">
                <div class="card-inner">
                  <p class="text-primary">Alertas de inventario</p>
                  <span class="material-icons-outlined text-red">notification_important</span>
                </div>
                <span class="text-primary font-weight-bold">56</span>
              </div>
            </div>

            <div class="cards form-container">
              <label for="inputPassword5" class="form-label">Nombre</label>
              <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Apellido</label>
              <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Telefono</label>
              <input type="tel" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Email</label>
              <input type="email" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>
              <label for="inputPassword5" class="form-label">Contraseña</label>
              <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>

              <div class="d-grid gap-2">
                <a href="" class="btn btn-dark agregar" type="submit">Agregar</a>
              </div>

              <label for="inputPassword5" class="form-label">codigo verificacion</label>
              <input type="text" id="inputPassword5" class="form-control verificar-codigo" 
                aria-describedby="passwordHelpBlock">
              <div id="passwordHelpBlock" class="form-text">
              </div>

              <div class="d-grid gap-2">
                <a href="" class="btn btn-dark verificar" type="submit">Verificar</a>
              </div>
            </div>


            <div class="cards">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% usuarios.forEach(usuario=> { %>
                    <tr>
                      <th>
                        <%=usuario.userNombre%>
                      </th>
                      <td>
                        <%=usuario.usuarioApellido%>
                      </td>
                      <td>
                        <%=usuario.telefono%>
                      </td>
                      <td>
                        <%=usuario.email%>
                      </td>
                      <td><a href="https://digilist.fly.dev/digilist/web-eliminar-usuarios?email=<%=usuario.email %>"
                          ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
                    </tr>
                    <% })%>

                </tbody>
              </table>
            </div>
          </main>
    </div>
    <!-- Scripts -->
    <script defer>
      const [nomU, apeU, tel, email, passw] = document.querySelectorAll('.form-control');
      document.querySelector('.form-container').addEventListener('input', e => {
        if (e.target.className === 'form-control') {

          document.querySelectorAll('.btn')[0].href =
            `https://digilist.fly.dev/digilist/web-registro-usuarios?userNombre=${nomU.value}&usuarioApellido=${apeU.value}&telefono=${tel.value}&email=${email.value}&password=${passw.value}`
        }
      });
      document.querySelector('.verificar-codigo').addEventListener('input', e => {
        document.querySelectorAll('.btn')[1].href =
          `https://digilist.fly.dev/digilist/web-VerificarCode-usuario?code=${e.target.value}`
      });        
    </script>
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="../../public/js/sidebar.js"></script>
  </body>

</html>